/*!
 * TNA home styles
 *
 */
/* Home global */
.equal-heights-flex-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Cards */
.cards-wrapper {
    margin-bottom: 1.6em;
}

.cards-wrapper .card {
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px #ddd;
    padding: 10px;
}

.cards-wrapper .card img {
    width: 100%;
}

.cards-wrapper .card a {
    position: relative;
    display: block;
}

.cards-wrapper .card a:hover {
    text-decoration: none;
}

.cards-wrapper .card a:hover h3 {
    text-decoration: underline;
}

.cards-wrapper .card h3 {
    margin: 0.5em 0;
}

.cards-wrapper .card h3 a {
    font-family: Bitter, "Open Sans", arial, serif !important;
}

.cards-wrapper .card p {
    margin-bottom: 0.5em;
}

.cards-wrapper .card a:link .content-type,
.cards-wrapper .card a:visited .content-type {
    color: #8b8b8b;
    font-size: 0.9em;
}

.cards-wrapper .card .entry-thumbnail {
    width: 100%;
    height: 185px;
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
}

.cards-wrapper .card .entry-thumbnail img {
    width: 100%;
}

.cards-wrapper .card .entry-content {
    padding: 1em;
}

.cards-wrapper .card .entry-content p {
    color: #444;
}

.cards-wrapper .card .content-type {
    width: 100%;
}

.cards-wrapper .card .content-type img {
    float: right;
    opacity: 0.5;
}

.research-redesign-profile {
    list-style: none;
    padding: 0 !important;
}

.research-redesign-profile li {
    line-height: 54px;
    height: 54px;
    padding-left: 1em;
    border-bottom:2px solid #eee;
}
.research-redesign-profile-sidebar .sidebar-nav{
    padding: 20px 20px 20px 20px;
}
.research-redesign-profile-sidebar .sidebar-nav select {
    width:100%;
}

.research-redesign .entry-content img {
    width:100%;
}