/*
 * TNA Profile Page Style
 * Card
 */
/* Home global */
.equal-heights-flex-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* Cards */
@media (max-width: 480px) {
  .mobile-dev {
    width: 100% !important; } }

.cards-wrapper .no-img {
  width: 100%;
  background: #f3f3f3;
  min-height: 254px;
  height: auto; }
.cards-wrapper .margin-bottom {
  margin-bottom: 30px; }
.cards-wrapper .card {
  position: relative;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px #ddd;
  padding: 10px; }
  .cards-wrapper .card .content-type {
    width: 100%; }
    .cards-wrapper .card .content-type img {
      float: right;
      opacity: 0.5; }
  .cards-wrapper .card .entry-content {
    padding: 1em; }
    .cards-wrapper .card .entry-content p {
      color: #444; }
  .cards-wrapper .card .entry-thumbnail {
    width: 100%;
    height: 185px;
    background-color: #ddd;
    background-position: center center;
    background-size: cover; }
    .cards-wrapper .card .entry-thumbnail img {
      width: 100%; }
  .cards-wrapper .card p {
    margin-bottom: 0.5em; }
  .cards-wrapper .card h3 {
    margin: 0.5em 0; }
    .cards-wrapper .card h3 a {
      font-family: Bitter, "Open Sans", arial, serif !important; }
  .cards-wrapper .card img {
    width: 100%; }
  .cards-wrapper .card a {
    position: relative;
    display: block; }
    .cards-wrapper .card a:link .content-type, .cards-wrapper .card a:visited .content-type {
      color: #8b8b8b;
      font-size: 0.9em; }
    .cards-wrapper .card a:hover {
      text-decoration: none; }
      .cards-wrapper .card a:hover h3 {
        text-decoration: underline; }

.single-profile .research-redesign-profile {
  list-style-type: none;
  padding: 0; }
  .single-profile .research-redesign-profile .profile-contact span {
    word-break: break-all; }
  .single-profile .research-redesign-profile .profile-contact .pemail {
    display: none; }
  @media (max-width: 650px) {
    .single-profile .research-redesign-profile {
      padding-top: 20px;
      display: block; } }
  .single-profile .research-redesign-profile li {
    padding-left: 1em;
    border-bottom: 2px solid #eee;
    list-style-image: none;
    padding-bottom: 0.6em; }
.single-profile .research-redesign-profile-sidebar .sidebar-nav {
  padding: 20px 20px 20px 20px; }
  .single-profile .research-redesign-profile-sidebar .sidebar-nav select {
    width: 100%; }
.single-profile .entry-content img {
  width: 100%;
  height: 100%; }
.single-profile .entry-content p {
  padding: 0 14px 0 14px; }
.single-profile .fa-envelope {
  margin-right: 10px; }
