#sidebar {
  display: none; }

#main {
  width: 100%;
  margin: 0; }
  @media (max-width: 768px) {
    #main {
      width: 100% !important; } }

.entry-header {
  display: none; }

article {
  background: none; }
  article .entry-content {
    padding: 0; }

.profile-page .cards-wrapper {
  margin-bottom: 0; }
.profile-page .entry-header {
  display: block; }
.profile-page article {
  background: #fff; }
  .profile-page article .entry-content {
    padding: 20px; }
