/*
Safari css
*/

.cards-wrapper .col-card {
    width: 33.3% !important;
}
.col-link-card {
    width: 24.8% !important;
}
.cards-wrapper .col-card .card, .link-cards-wrapper .link-card {
    box-shadow: none;
}
@media (max-width: 1240px) {
    .cards-wrapper .col-card {
        width: 33.2% !important;
    }
}
@media (max-width: 768px) {
    .cards-wrapper .col-card {
        width: 100% !important;
    }
    .col-link-card {
        width: 100% !important;
    }
}
.cards-wrapper .col-card {
    display: table;
}
.cards-wrapper .col-card .card {
    display: table-cell;
}
