.profile-page-plugin {
  #sidebar {
    display: none;
  }

  #main {
    width: 100% !important;
    margin: 0;
  }

  .entry-header {
    display: none;
  }

  article {
    background: none;
    .entry-content {
      padding: 0;
    }
  }

  .profile-page {
    .entry-header {
      display: block;
    }
    article {
      background: #fff;
      .entry-content {
        padding: 20px;
      }
    }
  }
}


