/*
 * TNA Profile Page Style
 * Card
 */

.profile-page-plugin {
  /* Home global */
  /* Cards */

  .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .col-card-4, .col-card-3 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 1.5em;
    }
    .col-card-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      min-width: 33.33333%;
    }
    .col-card-3 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
      min-width: 25%;
    }
    .card {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex: 1;
      -webkit-align-items: stretch;
      align-items: stretch;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 2px 5px #ddd;
      a {
        width: 100%;
        display: block;
        .img-responsive {
          width: 100%;
          padding: 10px 10px 0 10px;
        }
      }
      h3 {
        margin: .5em 0;
      }
      p {
        color: #444;
      }
      a:hover {
        text-decoration: none;
        box-shadow: 0 4px 7px #ccc;
      }
      a:hover .entry-content h3 {
        text-decoration: underline;
      }
      .entry-image {
        display: block;
        width: 100%;
        min-height: 185px;
        background: #ddd center center;
        background-size: cover;
      }
      .entry-content {
        display: block;
        width: 100%;
        padding: 1em;
      }
      .entry-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding: 1em;
        width: 100%;
        min-height: 98px;
        background-color: #597a87;
      }
      .entry-header h3 {
        color: #fff;
        margin: 0;
      }
      .content-type {
        color: #8b8b8b;
        font-size: .9em;
      }
    }
    @media (max-width: 1024px) {
      .col-card-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333%;
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
    }
    @media (max-width: 768px) {
      .col-card-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    @media (max-width: 480px) {
      display: block;
      .col-card-3 {
        display: block;
        float: left;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .equal-heights-flex-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* Cards */
  .mobile-dev {
    @media (max-width: 480px) {
      width: 100%;
    }
  }
}

.single-profile {
  .research-redesign-profile {
    list-style-type: none;
    .profile-contact {
      span {
        word-break: break-all;
      }
      .pemail {
        display: none;
      }
    }
    @media(max-width: 650px) {
      padding-top: 20px;
      display: block;
    }
    padding: 0;
    li {
      padding-left: 1em;
      border-bottom: 2px solid #eee;
      list-style-image: none;
      padding-bottom: 0.6em;
    }
  }
  .research-redesign-profile-sidebar {
    .sidebar-nav {
      padding: 20px 20px 20px 20px;
      select {
        width: 100%;
      }
    }
  }
  .entry-content {
    img {
      width: 100%;
      height: 100%;
    }
    p {
      padding: 0 14px 0 14px;
    }
  }
  .fa-envelope {
    margin-right: 10px;
  }
}


