.profile-page-plugin {

  #sidebar {
    display: none;
  }

  #main {
    width: 100%;
    @media (max-width: 768px) {
      width: 100%;
    }
    margin: 0;
  }

  .entry-header {
    display: none;
  }

  article {
    background: none;
    .entry-content {
      padding: 0;
    }
  }

  .profile-page {
    .cards-wrapper {
      margin-bottom: 0;
    }
    .entry-header {
      display: block;
    }
    article {
      background: #fff;
      .entry-content {
        padding: 20px;
      }
    }
  }
}


